@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.container{
    background-color: #efeff0;
    width:600px;
    height:500px;
    padding: 20px;
}

pre{
    width:100%;

    background-color:#392e4a;
    color: white;
    padding: 10px;
    font-size: 18px;
}


button {
  background:#0056b3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2 ease-in-out;
  margin-top: 20px;
  font-size: 20px;
}

button:hover{
    background-color:#0056b3;
}